@model Layoutpage.App.Web.HomeModel

@{
    ViewBag.Title = "Layoutpage";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}

<div style="width: 500px; margin: 50px;">
    <h1>Layoutpage</h1>

    <div>
        <h3>Announce</h3>
        <ul>
            <li>
                Layoutpage includes some App_Code
            </li>
            <li class="red">
                Layoutpage uses css
            </li>
            <li>
                Layoutpage have simple project template
            </li>
        </ul>
    </div>


</div>